aiogram==3.13.1
python-dotenv==1.0.1
loguru==0.7.2
httpx==0.27.2
aiosqlite==0.20.0
playwright==1.47.0
black==24.8.0
isort==5.13.2
mypy==1.11.2
pre-commit==4.0.1
pytest==8.3.3
pytest-asyncio==0.23.8
respx==0.21.1
aiohttp==3.12.14
aiogram-tests==1.0.3
ruff==0.6.4
